/* Paleta de colores */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Roboto:wght@100;400&display=swap');

:root {
    --primary-color: #d3b1ce;
    --secondary-color: #d9bbf9;
    --accent1-color: #bba3aa;
    --accent2-color: #B5A2D4;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #D3B1CE;
    color: #000000;
}

.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
}

header {
    background-color: white;
    padding: 20px;
    text-align: center;
    color: #000000;
}

.header-grid, .gallery, .info-grid, .trips-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.header-grid {
    grid-template-columns: auto 1fr auto;
    padding: 10px 20px;
    align-items: center;
}

header img.logo {
    max-width: 150px;
}

nav a {
    color: black;
    padding: 15px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.hero img, .gallery img, .info-grid img, .trips-grid img, .small-image {
    width: 80%;
    height: auto;
}

.small-image {
    width: 40% !important;
    margin: 0 auto;
}